body,ul{
    margin: 0;
    background-color: rgb(247, 249, 249);
}

.menu{
    padding-top: 17%;
    height: 34vh;
    width: 100vw;
    position: fixed;
    top: -45vh;
    transition: top 0.3s;
    box-shadow: 0px 10px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
    background-color: rgb(247, 249, 249);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
    color: rgb(59, 65, 60);
}

.show{
    top: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

.wrapper1{
    height: 93.2vh;
    width: 100vw; 
    display: grid;
    grid-template-rows: 0px 1fr;
    grid-template-areas: 
    'hd'
    'mn'
}

.welcome{
    background-image: url(../img/R1-05391-0029.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 8%;
}

header{
    grid-area: hd;
    position: fixed;
    width: 100vw;
    height: 7vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
    background-color: rgba(247, 249, 249, 0.626);
}

.header_index{
    background-color: transparent;
}

a{
    text-decoration: none;
    color: rgb(59, 65, 60);
}

main{
    grid-area: mn;
    display: flex;
}

.mn_foto{
    grid-area: mn;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    padding-top: 5vh;
}

.logo{
    width: 10vw;
}

.wrapper2{
    height: 320vh;
    width: 100vw; 
    display: grid;
    grid-template-rows: 0px 70% 1fr;
    grid-template-areas: 
    'hd'
    'mn'
    'ft'
}

h1{
    font-size: 2rem;
    color: rgb(59, 65, 60);
    text-transform: capitalize;
}

h2{
    color: rgb(59, 65, 60);
    text-transform: capitalize;
}

h3{
    font-size: 2rem;
}

.hiprub{
    color: rgb(65, 157, 120);
}

.ringrub{
    color: rgb(152, 143, 42);
}

.bwrub{
    color: rgb(59, 65, 60);
}

footer{
    grid-area: ft;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 8%;
}

img{
    width: 80vw;
}

.wrapper_gear{
    height: 93.2vh;
    width: 100vw; 
    display: grid;
    grid-template-rows: 0px 90% 1fr;
    grid-template-columns: 100vw;
    grid-template-areas: 
    'hd'
    'mn'
    'ft'
}

.mn.gear{
    grid-area: mn;
    display: flex;
    flex-direction: column;
}

.gear_box{
    background-color: aqua;
    width: 80vw;
    height: 35vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-self: center;
}