body,ul{
    margin: 0;
}

.menu{
    height: 100vh;
    width: 80vw;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
    background-color: rgb(231, 231, 231);
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
    color: rgb(59, 65, 60);
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

.wrapper1{
    height: 93.2vh;
    width: 100vw; 
    display: grid;
    grid-template-rows: 0px 1fr;
    grid-template-areas: 
    'hd'
    'mn'
}

.wrapper2{
    height: 2650px;
    width: 100vw; 
    display: grid;
    grid-template-rows: 0px 70% 1fr;
    grid-template-areas: 
    'hd'
    'mn'
    'ft'
}

header{
    grid-area: hd;
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-size: 2rem;
    color: rgb(59, 65, 60);
}

main{
    grid-area: mn;
    background-color: rgb(247, 249, 249);
    display: flex;
}

.mn_foto{
    grid-area: mn;
    display: flex;
    background-color: rgb(247, 249, 249);
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mn_foto{
    padding-top: 40px;
}

.welcome{
    background-image: url(../img/portrait.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -74px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

h3{
    font-size: 2rem;
}

footer{
    grid-area: ft;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

img{
    width: 80vw;
}

.wrapper3{
    height: 100vh;
    width: 100vw; 
    display: grid;
    grid-template-rows: 0px 70% 1fr;
    grid-template-areas: 
    'hd'
    'mn'
    'ft'
}